body {
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}

body {
    font-family: 'Press Start 2P', cursive;
	color: rgb(255, 255, 255);
}
#title {
	text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 32px;
    border-width:5px;  
    border-style:ridge;
}

#instruction, #alerts {
	text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
@keyframes blinker {
    80% {
      opacity: 0;
    }
  }

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	padding: 20px;
	margin: 10px;
}


#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 30px;
}

#general-display { 
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 22px;
    border-width:5px;  
    line-height: 200%;
    border-style:ridge;

}

#empty{
    margin-top: 10px;
    padding-top: 10px;
}

#stats {
    text-decoration:  underline overline;
}

#guessed {
    text-decoration:  underline overline;
    margin-top: 10px;
    margin-bottom: 10px;
}
#blank {
    box-sizing: content-box;
    height: 40px;

}