body {
    background-image:url('file:///Users/Joe/bootcamp_class/homework/Word-guess-game/assets/images/background.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}

body {
	font-family:'Racing Sans One';
	color: rgb(0, 153, 0);
}
#title {
	text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
}

#instruction, #alerts {
	text-align: center;
	font-size: 18px;
}

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	padding: 20px;
	margin: 10px;
}

#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 20px;
}

#general-display { 
    box-sizing: border-box;
    border: 2px solid rgb(0, 153, 0);
	text-align: center;
    font-size: 22px;
    
}